

* { box-sizing: border-box;}

body {
    margin: 0;
}

.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/****************/
/*HEADER STYLES*/
/****************/

header {
    background-color: black;
    color: white;
    padding: 2em 0;
    display: flex;
    justify-content: space-between;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: #FFFFFF;
}

.nav-link:hover:not(.active) {
    color: red;
} 

nav {
    display: flex;
}

.nav-link:not(:last-child) {
    margin-right: 2em;
}

.burger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

.burger-menu span {
    height: 0.4rem;
    width: 100%;
    background-color: white;
    border-radius: 0.2rem;
}

.nav-links.open {
    display: flex;
}

@media (max-width: 650px) {
    .nav-link:not(:last-child) {
        margin-right: 0;
    }

    .burger-menu {
        display: flex;
    }

    .logo-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .header-container {
        flex-direction: column;
        align-items: start;
        height: fit-content;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 0.25rem;
        margin-top: 2em;
    }

    .nav-link {
        margin-bottom: 1.5em;
    }
}

/**********/
/*FOOTER */
/********/

footer {
    margin-top: auto;
    text-align: center;
    background-color: black;
    color: white;
    padding: 2em 0;
}

footer p {
    margin: 0;
    opacity: 0.7;
    font-size: 0.875rem;
}



