* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #e7e8e8;
}

p {
  color: #444343;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/********************/
/*REUSABLE BUTTONS */
/******************/

.learn-more-link,
.btn {
  font-family: 'Saira Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  background-color: #e73539;
  color: #ffffff;
  padding: 0.25em 1em;
}

/****************/
/*HEADER STYLES*/
/****************/

.dumbell-svg {
  /* border: solid white; */
  width: 50px;
  height: fit-content;
  margin-right: 0.5em;
}

.logo-svg-container {
  display: flex;
  align-items: center;
}

a.logo-svg-container {
  text-decoration: none;
}

.logo {
  font-size: 1.5rem;
  text-decoration: none;
  color: #ffffff;
}

header {
  font-family: 'Saira Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: black;
  color: white;
  padding: 2em 0;
  display: flex;
  justify-content: space-between;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link:hover:not(.active) {
  color: #e73539;
}

nav {
  display: flex;
}

.nav-link:not(:last-child) {
  margin-right: 2em;
}

.burger-menu {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

.burger-menu span {
  height: 0.4rem;
  width: 100%;
  background-color: white;
  border-radius: 0.2rem;
}

.nav-links.open {
  display: flex;
}

@media (max-width: 650px) {
  .nav-link:not(:last-child) {
    margin-right: 0;
  }

  .burger-menu {
    display: flex;
  }

  .logo-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .header-container {
    flex-direction: column;
    align-items: start;
    height: fit-content;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 0.25rem;
    margin-top: 2em;
  }

  .nav-link {
    margin-bottom: 1.5em;
  }
}

/**********/
/*FOOTER */
/********/

footer {
  margin-top: auto;
  background-color: black;
  color: white;
  padding: 2em 0;
}

.footer-items-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer h3 {
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 600;
  max-width: 215px;
  min-width: 175px;
  text-transform: uppercase;
}

.social-media-icon {
  font-size: 30px;
}

.social-media-icon:not(:last-child) {
  margin-right: 0.35em;
}

.social-media-icon:hover {
  color: #e73539;
  cursor: pointer;
}

footer p {
  margin: 0;
  opacity: 0.7;
  font-size: 0.875rem;
}

@media (max-width: 500px) {
  .social-media-icon {
    font-size: 25px;
  }

  footer p {
    font-size: 0.825rem;
  }
}

/*********************/
/* HOME PAGE STYLES */
/*******************/

.home-hero {
  height: 600px;
  background-image: url('./images/bg-img.jpg');
  background-size: 1300px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
}

.home-title {
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 600;
  font-size: 2.85rem;
  color: #ffffff;
  text-transform: uppercase;
  width: 55%;
  padding-top: 100px;
}

.home-card-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-card-icon {
  width: 50px;
  margin-bottom: 1em;
}

.home-card-icon-text {
  font-family: 'Saira Condensed', sans-serif;
  text-transform: uppercase;
  color: #e73539;
  font-weight: 600;
}

.home-card {
  max-width: 420px;
  min-width: 320px;
  padding: 2em;
  justify-content: space-between;
  background-color: #ffffff;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: -83px;
  /* margin-bottom: 4em; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* HOME SECTIONS STYLES*/
.section {
  padding: 4em 0;
  display: flex;
  flex-direction: column;
}

.home-section-nutrition {
  background-color: #ffffff;
}

.section-heading {
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  border-left: solid #e73539;
  padding-left: 0.25em;
  margin-bottom: 0.5em;
}

.home-section-img,
.overview-section-img {
  width: 100%;
  margin-bottom: 1.25em;
  order: -1;
}

.home-section-text {
  margin-bottom: 2em;
}

.home-section-plans-heading {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

/* HOME PLANS CARD STYLES*/
.plans-cards-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plans-card {
  width: 100%;
  max-width: 475px;
  min-width: 320px;
  background-color: #d9d9d9;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 4em;
}

.plans-card p {
  text-align: center;
  margin-bottom: 2em;
}

.plans-card:not(:last-child) {
  margin-bottom: 3em;
}

.plans-card-circle {
  background-color: #000000;
  border-radius: 50%;
  padding: 1em;
  margin-bottom: 1em;
}

.plans-card-icon {
  width: 75px;
}

@media (max-width: 575px) {
  .home-section {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media (min-width: 985px) {
  .home-hero {
    background-position: right;
  }

  .home-title {
    font-size: 3.5rem;
    width: 35%;
  }

  .home-card-icon {
    width: 75px;
  }

  .home-card {
    margin-top: -98px;
  }

  .section {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .overview-section-img,
  .home-section-img {
    /* max-width: 550px; */
    width: 45%;
  }

  .home-section-img {
    order: 1;
  }

  .section-text-container {
    /* max-width: 630px; */
    width: 40%;
  }

  .home-section-nutrition-img,
  .overview-section-img {
    order: -1;
  }

  .home-section-plans {
    flex-direction: column;
    align-items: flex-start;
  }

  .plans-cards-container {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2em;
  }

  .plans-card:not(:last-child) {
    margin-bottom: 0;
    margin-right: 3em;
  }
}

/**********************************/
/* FITNESS OVERVIEW PAGE STYLES **/
/********************************/

/*Note: I used .section for two of the sections in the Overview Page.
        .section was declared in the Home Page
*/

.fitness-nav {
  margin: 2em 0;
}

.fitness-nav a {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
  margin-right: 1em;
}

.fitness-nav a:hover {
  color: #e73539;
}

.overview-page-section {
  padding: 0;
}

.overview-section-container {
  padding: 4em 0;
}

.overview-section-heading {
  margin-bottom: 1em;
}

.display-anatomy {
  height: fit-content;
  width: 40%;
  max-width: 250px;
  margin: 1em 0 1.5em 0;
}

.display-anatomy:not(:last-child) {
  margin-right: 1em;
}

.overview-section-p2 {
  margin-bottom: 2em;
}

/*MAX REPS CARD*/
.max-reps-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  grid-gap: 2em;
}

.max-reps-card {
  background-color: #d9d9d9;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .max-reps-card:not(:last-child) {
  margin-bottom: 3em;
} */

.max-reps-card-img {
  width: 100%;
  margin-bottom: 1em;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.max-reps-card-text-container {
  padding: 0 3em 4em 3em;
}

.max-reps-card-title {
  text-align: center;
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 600;
}

.max-reps-card-p {
  text-align: center;
}

.max-reps-learn-btn {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

@media (min-width: 760px) {
}

@media (min-width: 985px) {
  .overview-page-section {
    flex-direction: row;
  }

  .fitness-nav a {
    font-size: 1.15rem;
    margin-right: 1.5em;
  }

  .display-anatomy:not(:last-child) {
    margin-right: 4em;
  }
}


/*************************************/
/* FITNESS CALCULATOR PAGE STYLES ***/
/***********************************/

.section-padding {
  padding: 4em 0;
}

.one-rep-max-heading {
  margin-bottom: 1em;
}

.calculator-info-text {
  /* max-width: 1000px; */
  letter-spacing: 0.5px;
}


/*ONE REP MAX CALCULATOR STYLES*/

.one-rep-max-card {
  background-color: #D9D9D9;
  border-radius: 8px;
  max-width: 550px;
  margin: 0 auto;
}

.one-rep-max-header {
  background-color: #000000;
  display: flex;
  align-items: center;
  padding: 1em 2em;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.one-rep-max-header-icon {
  width: 50px;
}

.one-rep-max-header-title {
  color: #FFFFFF;
  font-family: 'Saira Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
  margin-right: 0.5em;
}

.one-rep-max-card-form {
  padding: 3em 2em;
}

.select-wrap,
.input-wrap {
  border: solid 1px #A9A9A9;
  border-radius: 4px;
  padding: 0.5em;
  display: flex;
  align-items: center;
  position: relative;
}

.select-label {
  position: absolute;
}

select {
  cursor: pointer
}

select,
input {
  border: none;
  background-color: #D9D9D9;
  width: 100%;
  text-align: right;
  
}



/* SVG STYLES */
.flexAna {
  display: flex;
}
.test {
  fill: purple;
}
.muscle .muscleChild {
  fill: #e73539;
}
.muscle:hover .muscleChild {
  fill: purple;
  cursor: pointer;
}
/* SVG Transition */
/* .anatomy-container {
    perspective: 20% 
}

.anatomy-content {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease; 
    transform-style: preserve-3d; 
    transform-origin: center top; 
}

.anatomy-container.back .anatomy-content {
    transform: rotateY(180deg);
} */

/* Modal styles */
.modalFlex{
  display: flex;
  justify-content: space-between;
}

.liftItem{
  list-style: none;
  margin: 1.5rem 0;
  margin-right: 2rem;
}
.liftItem:hover{
  cursor: pointer;
  color: red;
}
.muscleTitle{
  text-align: center;
}
.descriptionText{
  max-width: 600px; /* Adjust the value as needed */
  word-wrap: break-word; /* or overflow-wrap: break-word; */
}